// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


:root {
    /* mycolor */
	--ion-color-mycolor: #00aaff;
	--ion-color-mycolor-rgb: 0,170,255;
	--ion-color-mycolor-contrast: #000000;
	--ion-color-mycolor-contrast-rgb: 0,0,0;
	--ion-color-mycolor-shade: #0096e0;
	--ion-color-mycolor-tint: #1ab3ff;
  
  }