<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Message</ion-title>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-list-header> Recent Conversations </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/message-img/avatar-finn.png" />
      </ion-avatar>
      <ion-label>
        <h5>Finn</h5>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/message-img/avatar-han.png" />
      </ion-avatar>
      <ion-label>
        <h5>Han</h5>
        <p>I've got enough on my plate as it is, and I...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/message-img/avatar-rey.png" />
      </ion-avatar>
      <ion-label>
        <h5>Rey</h5>
        <p>You will remove these restraints and leave...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/message-img/avatar-luke.png" />
      </ion-avatar>
      <ion-label>
        <h5>Luke</h5>
        <p>I feel the good in you, the conflict...</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header> Online </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/message-img/avatar-poe.png" />
      </ion-avatar>
      <ion-label>
        <h5>Poe</h5>
        <p>I just upgraded my X-Wing. Next time...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/message-img/avatar-ben.png" />
      </ion-avatar>
      <ion-label>
        <h5>Ben</h5>
        <p>These aren't the droids you're looking for...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/message-img/avatar-leia.png" />
      </ion-avatar>
      <ion-label>
        <h5>Leia</h5>
        <p>I've placed information vital to the survival...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/message-img/avatar-yoda.png" />
      </ion-avatar>
      <ion-label>
        <h5>Yoda</h5>
        <p>Do or do not. There is no try...</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>

