<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>

    <!-- Verificación de errores y mensajes -->
    <ion-text color="danger">
      El correo electrónico es obligatorio.
    </ion-text>
    <ion-text color="danger" >
      Introduce un correo electrónico válido.
    </ion-text>

    <ion-button expand="block" type="submit" [disabled]="!forgotPasswordForm.valid">Enviar Solicitud</ion-button>
  </form>
</ion-content>