<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center;"><ion-icon name="cut"></ion-icon> Joseph Marin</ion-card-title>
      <ion-card-subtitle>Hora Disponible</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content style="text-align: center;">
      Joseph atiende en la barbería El Ermitaño
      Ubicada en calle Marín 124, Santiago
      <ion-datetime presentation="date"></ion-datetime>
      <ion-datetime presentation="time"></ion-datetime>
    </ion-card-content>
    <ion-button fill="clear">Agendar</ion-button>
  </ion-card>
</ion-content>

